extends layout/base
block content
    h1.text-center Sign In
    form(method='post' action="" style="width:15%;margin:auto;text-align:center")
        div.form-group
            label(for='username') Username
            input.form-control(id = 'username' placeholder='username' name="username" required)
        div.form-group
            label(for='password') Password
                input.form-control(type='password' id='password' placeholder='password' name='password' required)
        div.actions
            button.btn.btn-primary Log In