.star-rating {
    float: left;
    display: flex;
    font-size: 25px;
    margin: 10px 0 5px 5px;
}
.back-stars {
    display: flex;
    color: #9e989d;
    position: relative;
}
.front-stars {
    display: flex;
    color: #7fc0ff;
    overflow: hidden;
    position: absolute;
    top: 0;
}
