html
    include inner/head
    body
        include inner/navbar
        .container-fluid
            .row
                include inner/sidebar
                main.col-md-9.ml-sm-auto.col-lg-10.px-4(role="main")
                    block content
    include inner/footer

    style.
        [role="main"] {
            padding-top: 48px;
        }

