head
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1 shrink-to-fit=no')
    // WebJars Stylesheets
    link(rel='stylesheet', href='/webjars/font-awesome/5.1.0/css/all.css')
    link(rel='stylesheet', href='/webjars/bootstrap/4.1.1/css/bootstrap.css')


    // Local Stylesheets

    // WebJars JS
    script(src='/webjars/jquery/3.3.1-1/jquery.js')
    script(src='/webjars/bootstrap/4.1.1/js/bootstrap.js')
    // Local JS

    // Remote CSS
    link(rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css")
    // Remote JS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                    integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
                    crossorigin="anonymous")
    script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
    script(src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js')
