nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href='#') IBS
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='#')
                    | #{title}
                    span.sr-only (current)
            li#user_dropdown.nav-item.dropdown
                a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    | Username
                .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='#')
                        i.fas.fa-cogs &nbsp
                        | Admin
                    .dropdown-divider
                    a.dropdown-item(href='#')
                        i.fas.fa-sign-out-alt &nbsp
                        | Logout
    style.
        #user_dropdown {
            position: absolute;
            top: 8px;
            right: 10px;
        }

        nav {
            z-index: 2;
        }

        .navbar .form-control {
            padding: .75rem 1rem;
            border-width: 0;
            border-radius: 0;
        }

        .form-control-dark {
            color: #fff;
            background-color: rgba(255, 255, 255, .1);
            border-color: rgba(255, 255, 255, .1);
        }

        .navbar-brand {
            /*padding-top: .75rem;*/
            /*padding-bottom: .75rem;*/
            font-size: 1rem;
        }