nav.col-md-2.d-none.d-md-block.bg-light.sidebar
    .sidebar-sticky
        ul.nav.flex-column
            li.nav-item
                a.nav-link(href="/")
                    i.fas.fa-tachometer-alt &nbsp
                    | Dashboard
                a.nav-link(href="clients")
                    i.far.fa-address-book &nbsp
                    | Clients
                a.nav-link(href="invoices")
                    i.fas.fa-file-invoice-dollar &nbsp
                    | Invoices
                a.nav-link(href="insurance")
                    i.fas.fa-briefcase &nbsp
                    | Insurance
                a.nav-link(href="certificates")
                    i.fas.fa-certificate &nbsp
                    | Certificates

        h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
            span Saved Reports
        ul.nav.flex-column.mb-2
            li.nav-item
                a.nav-link(href="#") Current Month


    style.
        .sidebar {
            position: fixed;
            top: 25px;
            bottom: 0;
            left: 0;
            z-index: 1;
            padding: 48px 0 0;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }
        .sidebar .nav-link.active {
            color: #007bff;
        }

        .sidebar .nav-link {
            font-weight: 500;
            color: #333;
        }
        .sidebar-sticky {
            position: sticky;
            top: 0;
            height: calc(100vh - 48px);
            padding-top: .5rem;
            overflow-x: hidden;
            overflow-y: auto;
        }