h3,
h4,
h5 {
	margin: 0%;
}

h3,
h4,
h5,
#login-button,
#save-button {
	background-color: #481056;
	color: #f2f2f2;
}

.form-style {
	background-color: white;
	border: none;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border: 1px solid #481056;
}

#login-main-header h1 {
	font-size: 54px;
	margin-bottom: 5px;
}

#login-main-header {
	background-color: #000000;
	color: #f2f2f2;
	text-align: center;
	padding: 5%;
}

#login-header {
	padding: 4% 0 2% 0;
	margin-left: 12%;
}

#login-form {
	padding: 2% 5% 10% 5%;
}

#login-form input {
	margin: 4% 0 4% 0;
}

#login
#account-details {
	background-color: #481056;
	border-radius: 8px;
	border: 1px solid #481056;
	letter-spacing: -1px;
	padding: 0px;
	margin: auto;
	width: 96%;
}

#login {
	width: 30%;
	margin-left: 12%;
}

#navbar {
	background-color: #f2f2f2;
	padding: 0%;
	font-variant: small-caps;
	border-color: #e6e6e6;
	margin: 0%;
	color: #565656;
	text-align: center;
	font-style: italic;
}

#account-details {
	margin: 1%;
}

#account-details-form {
	padding: 1%;
}

#account-details-form label {
	padding: 6px 12px;
	background-color: #e6e6e6;
	text-align: justify;
	font-weight: 500;
	border: 1px solid #ccc;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	height: 34px;
	font-size: 14px;
}

.col-sm-1,
.col-sm-2,
.col-sm-11,
.col-sm-10 {
	padding: 1%;
}

table a:link, a:visited {
	color: #481056;
}

table a:hover {
	color: #d2c4d7;
}

#account-details-form input {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left-style: none;
}

.green-text {
	color: green;
}

@media screen and (max-width: 1200px) {
	#login {
		width: 80%;
	}
}

#remove-button {
	color: #ffffff;
	text-align: center;
	background-color: #514878;
	text-transform: uppercase;
}

#foods-table {
	padding-top: 10px;
	color: #4e4e4e;
	background-color: #ffffff;
	border: 1px dotted #d2c4d7;
}

#foods-table tr, td, th {
	padding: 3px;
	margin: 3px;
} 